<div class="w-screen h-screen flex justify-content-center flex-wrap relative border-box bg-white">
  <div class="absolute top-0 right-0 w-full border-box py-1 px-2 bg-primary-100">
      <div class="w-full flex justify-content-between flex-wrap">
          <div class="w-max">
              <div class="flex color-primary tex-titulo-Serius-Game cursor-pointer">
                  <img src="assets/Img/Icons/icono_serius_game.png" width="80px">
                  <div class="flex align-content-center flex-wrap ml-2" style="height: 50.72;">
                      <p class="m-0 p-0">{{'title' | translate}}</p>
                  </div>
              </div>
          </div>
          <div class="w-max flex align-content-center flex-wrap">
              <app-change_of_anguage></app-change_of_anguage>
          </div>
      </div>
  </div>
  <div style="height: calc(100% - 60px); margin-top: 60px;" class="w-full grid justify-content-center border-box">
      <div class="w-6 h-full flex align-content-center flex-wrap">
        <div class="w-full grid m-0 container-auth shadow-3">
          <div class="w-6 bg-primary-700 border-round-md border-noround-right border-box">
            <div class="w-full p-4 flex justify-content-center flex-wrap border-box">
              <p class="color-primary-50 tex-titulo-Serius-Game text-center">{{'title' | translate}}</p>
              <p class="color-white text-subtitulos-2-size text-justify	line-height-3 mt-4">{{'aut-module.titulo' | translate}}</p>
              <img src="assets/Img/Icons/iconos/cohete.png" width="140px" class="mt-4">
            </div>
          </div>
          <div class="w-6 bg-white border-round-md border-noround-left border-box">
            <div class="w-full p-4 border-box">
              <div class="w-full flex justify-content-end flex-wrap">
                <div class="w-max flex">
                  <div  [ngClass]="{'color-primary-50 bg-primary': iniciarSesion, 'color-white bg-primary-100 selector-togle': !iniciarSesion}"
                        class="border-box border-round-3xl border-noround-right p-2 pl-3 cursor-pointer"
                        (click)="iniciarSesion = true">
                    <p class="text-subtitulos-4-size">{{'aut-module.iniciar-sesion' | translate}}</p>
                  </div>
                  <div [ngClass]="{'color-primary-50 bg-primary': !iniciarSesion, 'color-white bg-primary-100 selector-togle': iniciarSesion}"
                       (click)="iniciarSesion = false"
                       class="border-box border-round-3xl border-noround-left py-2 px-3 cursor-pointer">
                    <p class="text-subtitulos-4-size">{{'aut-module.crear-cuenta' | translate}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>