<div class="w-full h-full grid justify-content-center border-box">
  <div class="w-6 h-full flex align-content-center flex-wrap">
    <div class="w-12 grid m-0 container-auth shadow-6 bg-green-500">
      <div class="col-12">
        <p class="text-center">Completa tu registro</p>
      </div>
      <div class="col-6 px-1">
        <mat-form-field class="w-full hide-hint" appearance="outline">
          <mat-label>{{'aut-module.input.usuario' | translate}}</mat-label>
          <input matInput placeholder="{{'aut-module.input.usuario-placeholder' | translate}}" formControlName="nombre">
        </mat-form-field>
      </div>
      <div class="col-6 px-1">
        <mat-form-field class="w-full hide-hint" appearance="outline">
          <mat-label>{{'aut-module.input.usuario' | translate}}</mat-label>
          <input matInput placeholder="{{'aut-module.input.usuario-placeholder' | translate}}" formControlName="apellido">
        </mat-form-field>
      </div>
      <div class="col-6 px-1">
        <app-radio-button [label]="'Prueba'" [hint]="'Prueba'" [options]="opcion"></app-radio-button>
      </div>
      <p>{{opcionRol}}</p>
      <div class="col-6 px-1">
        <app-datepicker [label]="'Prueba'" [hint]="'Prueba'" [value]="fechaNacimiento"></app-datepicker>
      </div>
    </div>
  </div>
</div>