<div class="w-full h-full grid justify-content-center border-box">
  <div class="w-11 md:w-9 lg:w-6 h-full flex align-content-center flex-wrap">
    <div class="w-12 grid m-0 container-auth shadow-3 border-round-xl border-color p-4">
      <div class="col-12 mb-3">
        <p class="color-primary tex-titulo-Serius-Game text-center">{{'aut-module.recuperar-cuenta.title' | translate}}</p>
      </div>
      <ng-container *ngIf="paso == 1">
        <div class="col-12">
          <mat-form-field class="w-full hide-hint" appearance="outline">
            <mat-label>{{'aut-module.recuperar-cuenta.correo' | translate}}</mat-label>
            <input  matInput
              placeholder="{{'aut-module.recuperar-cuenta.correo-placeholder' | translate}}"
              [(ngModel)]="datosCliente.correo">
          </mat-form-field>
          <!-- <app-ui-kaas-input label="aut-module.recuperar-cuenta.correo" hint="aut-module.recuperar-cuenta.correo-placeholder"
            [(value)]="datosCliente.correo"></app-ui-kaas-input> -->
        </div>
        <div class="w-full flex justify-content-center gap-4 flex-wrap mt-4">
          <app-ui-kaas-button [background_color]="'bg-red-600'" [label]="'general.boton-cancelar' | translate" [butonFull]="false" buttonSize="small"
            (eventClick)="regresar()"></app-ui-kaas-button>
          <app-ui-kaas-button [label]="'general.boton-continuar' | translate" [disabled]="datosCliente.correo == ''"
            [butonFull]="false" buttonSize="small" (eventClick)="recuperarCuenta()"></app-ui-kaas-button>
        </div>
      </ng-container>
      <ng-container *ngIf="paso == 2">
        <div class="col-12 px-1 mt-1">
          <mat-form-field class="w-full hide-hint" appearance="outline">
            <mat-label>{{'aut-module.recuperar-cuenta.passwordTemp' | translate}}</mat-label>
            <input [type]="ocultarPaaswordCrearCuenta ? 'password' : 'text'" matInput
              placeholder="{{'aut-module.recuperar-cuenta.passwordTemp-placeholder' | translate}}" [(ngModel)]="datosCliente.passwordTemp">
            <button type="button" mat-icon-button matSuffix (click)="ocultarPaaswordCrearCuenta = !ocultarPaaswordCrearCuenta"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="ocultarPaaswordCrearCuenta">
              <mat-icon>{{ ocultarPaaswordCrearCuenta ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      <div class="col-12 px-1 mt-1">
        <mat-form-field class="w-full hide-hint" appearance="outline">
          <mat-label>{{'aut-module.recuperar-cuenta.password' | translate}}</mat-label>
          <input [type]="ocultarPaaswordCrearCuenta1 ? 'password' : 'text'" matInput
            placeholder="{{'aut-module.recuperar-cuenta.password-placeholder' | translate}}"  [(ngModel)]="datosCliente.password">
          <button type="button" mat-icon-button matSuffix (click)="ocultarPaaswordCrearCuenta1 = !ocultarPaaswordCrearCuenta1"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="ocultarPaaswordCrearCuenta1">
            <mat-icon>{{ ocultarPaaswordCrearCuenta1 ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-12 px-1 mt-1">
        <mat-form-field class="w-full hide-hint" appearance="outline">
          <mat-label>{{'aut-module.recuperar-cuenta.password-conf' | translate}}</mat-label>
          <input [type]="ocultarPaaswordCrearCuenta2 ? 'password' : 'text'" matInput
            placeholder="{{'aut-module.recuperar-cuenta.password-conf-placeholder' | translate}}"  [(ngModel)]="datosCliente.confirmarPassword">
          <button type="button" mat-icon-button matSuffix (click)="ocultarPaaswordCrearCuenta2 = !ocultarPaaswordCrearCuenta2"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="ocultarPaaswordCrearCuenta2">
            <mat-icon>{{ ocultarPaaswordCrearCuenta2 ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-12 px-1 mt-1">
        <p *ngIf="mensaje != ''" class="font-medium mt-1 text-red-600">* {{mensaje | translate}}</p>
      </div>
      <div class="w-full flex justify-content-center flex-wrap mt-4">
        <app-ui-kaas-button [label]="'general.boton-continuar' | translate" 
          [disabled]="(datosCliente.password == '' || datosCliente.confirmarPassword == '' || datosCliente.passwordTemp == '') ? true : false"
          [butonFull]="false" buttonSize="small" (eventClick)="cambiarPassword()"></app-ui-kaas-button>
      </div>
      </ng-container>
    </div>
  </div>
</div>
<app-ui-charge *ngIf="datosCargados"></app-ui-charge>