.menu-item {
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
  }
  
  .menu-item:hover {
    background-color: #dcdcdc;
    color: rgb(29, 29, 29);
  }
  
  .menu-item.active,
  .menu-item:active {
    box-shadow: inset 0 0 5px #cfcfcf;
  }

::ng-deep {
    // .hide-hint .mat-mdc-form-field-subscript-wrapper {
    //     display: none!important;
    // }
}