<div style="max-width: 99%;" class="w-full">
  <div class="w-full ml-2 mb-4">
    <form action="">
      <p class="mt-4 text-center color-primary tex-titulo-Serius-Game">CREACIÓN DE NIVELES</p>
      <div class="w-max  col-fixed mt-4">
        <app-datepicker label="Fecha Finalización" [hint]="'Es la fecha que finaliza tu juego por defecto son 7 días'" [(value)]="datosJuego.fechaFinalizacion"></app-datepicker>
      </div>
        <ng-container *ngFor="let data of datosJuego.niveles; let indice = index">
            <app-form-agregar-nivel 
                                      [indice]="indice" 
                                      [nivel]="data" 
                                      (_guardarRequerimiento)="guardarRequerimiento($event,indice)"
                                      (_eliminarRequerimiento)="eliminarRequerimiento(indice,$event)"
                                      (_finalizarRequerimiento)="finalizarRequerimiento()"></app-form-agregar-nivel>
        </ng-container>
        <div class="w-full flex flex-wrap justify-content-center mt-4" *ngIf="validarCrearNivel">
          <div class="w-max flex flex-wrap gap-3">
            <app-ui-kaas-button [label]="'Finalizar Juego' | translate" 
                                [butonFull]="false" 
                                buttonSize="small"
                                (eventClick)="finalizarCreacion()">
            </app-ui-kaas-button>
            <app-ui-kaas-button [label]="'Agregar nivel' | translate" 
                                [butonFull]="false" 
                                buttonSize="small"
                                (eventClick)="crearNuevoNivel()">
            </app-ui-kaas-button>
          </div>
        </div>
    </form>
  </div> 
</div>
<app-modal  *ngIf="viewModalResponse" 
                  [titulo]="'Creación Juego'" 
                  [content]="retornoMsg"
                  [hideClose]="false"
                  [peticionError]="!verificarCreacion">
    <div app-footer-mensaje>
      <button mat-raised-button class="button-aceptar" (click)="verJuegoshome()">Aceptar</button>
    </div> 
</app-modal>

