::ng-deep {
    .mat-mdc-text-field-wrapper {
        border: 1px solid var(--border)!important;
        border-radius: 6px;
        color: black;
        background-color: white!important;
        padding: 0.75rem 0.75rem;
    }
}