<div class="ui-kaas-styles-general">
  <div class="w-full">
    <app-ui-kaas-heading [label]="label" *ngIf=" label != '' "></app-ui-kaas-heading>
    <div class="w-full ui-kaas-mt-20px relative">
      <input  [readonly]="readOnly" 
              [placeholder]="placeholder" 
              [ngClass]="{'pr-5': icono != '' || readOnly,'ui-readonly-input' : readOnly, 'ui-kaas-input-text' : !readOnly}" 
              class="w-full border-box" 
              [(ngModel)]="value" 
              type="text" 
              (keypress)="blockEvent($event)" 
              (input)="onInputChange()">
      <i (click)="clickIcon()" *ngIf="icono != '' || readOnly" [ngClass]="{'bi bi-lock-fill': readOnly}" class="{{icono}} cursor-pointer absolute top-0 right-0 mr-2 text-lg" style="transform: translateY(50%);"></i>
    </div>
    <app-ui-kaas-hint [label]="hint" *ngIf=" hint != '' "></app-ui-kaas-hint>
  </div>
</div> 