
.my-component-input {
  display: flex;
}

.ui-kaas-input-text:hover {
  border-color: #3B82F6;
}

.ui-kaas-input-text:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #BFDBFE;
  border-color: #3B82F6;
}

::placeholder {
  color: rgb(173, 173, 173);
}
