.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(112 112 112 / 29%);
    transition-duration: .2s;
    z-index: 10;
    pointer-events: auto;
}