.estilo-cuadro-requisitos {
  border: 1px solid transparent;
  border-radius: 8px;
}

.estilo-container-requisitos {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
}