<div style="max-width: 99%;" class="w-full">
  <ng-container *ngIf="pedirCodigo;else juegoInicio">
    <div class="w-full h-full mt-5 flex flex-wrap justify-content-center">
      <p class="w-full text-center">Por favor, ingresa el código del juego</p>
      <div class="w-max flex flex-wrap align-items-center gap-3 mt-4">
        <app-ui-kaas-input [(value)]="valorCodigo"></app-ui-kaas-input>
        <div>
          <app-ui-kaas-button
                            [label]="'Buscar' | translate" 
                            [butonFull]="true" 
                            buttonSize="small"
                            (eventClick)="buscarJuego()">
          </app-ui-kaas-button>
        </div>
      </div>

      <!-- <p class="w-full mt-4">Si no tienes un código puedes jugar los juegos públicos</p> -->
      <!-- <section class="container-table mt-4" tabindex="0">
        <table mat-table [dataSource]="juegosPublicos">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
          </ng-container>
                  
          <ng-container matColumnDef="id_juego">
            <th mat-header-cell *matHeaderCellDef> Id juego </th>
            <td mat-cell *matCellDef="let element"> {{element.id_juego}} </td>
          </ng-container>
                  
          <ng-container matColumnDef="fecha_creacion">
            <th mat-header-cell *matHeaderCellDef> Fecha Creación </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_creacion}} </td>
          </ng-container>
                  
          <ng-container matColumnDef="fecha_finalizacion">
            <th mat-header-cell *matHeaderCellDef> Fecha Finalizacion </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_finalizacion}} </td>
          </ng-container>
     
          <ng-container matColumnDef="acctions">
            <th mat-header-cell *matHeaderCellDef class="text-center w-max"> Acciones </th>
            <td mat-cell *matCellDef="let element; let i = index" class="text-center w-max"> 
              <i  matTooltip="Jugar" (click)="elegirJuego(element.id_juego)" class="bi bi-controller cursor-pointer text-2xl"></i>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </section>  -->
    </div>
  </ng-container>
  <ng-template #juegoInicio>
    <div class="mt-4 w-full flex justify-content-between flex-wrap">
      <div class="w-max col-fixed">
        <p class="color-primary font-medium text-subtitulos-3-size">Puntaje:
         <span [ngClass]="{'text-teal-700': this.puntos >= 0, 'text-red-600': this.puntos < 0}">{{this.puntos}}</span>
        </p>
      </div>
      <div class="w-max col-fixed">
       <p class="text-purple-600 font-medium text-subtitulos-2-size">Nivel 1</p>
      </div>
     </div>
     <div class="wrapper grid m-0 mt-4">
       <div class="col-4">
         <p class="text-center text-subtitulos-2-size mb-4">Ambiguos</p>
         <div id="requerimientos_ambiguos" class="w-full h-full bg-primary-200 shadow-5 estilo-cuadro-requisitos flex flex-column m-0 p-2" [dragula]="REQUERIMIENTOS_DRAGULA"  [(dragulaModel)]="requesitosAmbiguos">
           <div class="col-12" *ngFor="let requisito of requesitosAmbiguos">
             <div class="w-full estilo-container-requisitos p-3" [ngClass]="{'bg-green-500': requisito.requerimientoCompleto == 'si', 'bg-red-500': requisito.requerimientoCompleto == 'error'}">
               <p>
                 <ng-container *ngIf="requisito.requerimientoCompleto == 'si';else requisitoAmbiugoincorrecto">
                   <span class="bi bi-check2-circle"></span>
                 </ng-container>
                 <ng-template #requisitoAmbiugoincorrecto>
                   <span class="handle bi bi-arrows-move cursor-move"></span>
                 </ng-template>
                 &nbsp;{{requisito.texto}}
               </p>
             </div>
           </div>
         </div>
       </div>
       <div class="col-4">
         <p class="text-center text-subtitulos-2-size mb-4">Conjunto de requitos no funcionales</p>
         <div id="requerimientos_no_funcionales" class="w-full h-full bg-primary-200 shadow-5 estilo-cuadro-requisitos flex flex-column m-0 p-2" [dragula]="REQUERIMIENTOS_DRAGULA" [(dragulaModel)]="requisitosNoFuncionales">
           <div class="col-12" *ngFor="let requisito of requisitosNoFuncionales" [id]="requisito.id">
             <div class="estilo-container-requisitos w-full p-3">
               <p>
                 <span class="handle bi bi-arrows-move cursor-move"></span>
                 &nbsp;{{requisito.texto}}
               </p>
             </div>
           </div>
         </div>
       </div>
       <div class="col-4">
         <p class="text-center text-subtitulos-2-size mb-4">No Ambiguos</p>
         <div id="requerimientos_no_ambiguos" class="w-full h-full bg-primary-200 shadow-5 estilo-cuadro-requisitos flex flex-column m-0 p-2" [dragula]="REQUERIMIENTOS_DRAGULA" [(dragulaModel)]="requesitosNoAmbiguos">
           <div class="col-12" *ngFor="let requisito of requesitosNoAmbiguos">
             <div class="estilo-container-requisitos w-full p-3" [ngClass]="{'bg-green-500': requisito.requerimientoCompleto == 'si', 'bg-red-500': requisito.requerimientoCompleto == 'error'}">
               <p>
                 <ng-container *ngIf="requisito.requerimientoCompleto == 'si';else requisitoNoAmbiugoincorrecto">
                   <span class="bi bi-check2-circle"></span>
                 </ng-container>
                 <ng-template #requisitoNoAmbiugoincorrecto>
                   <span class="handle bi bi-arrows-move cursor-move"></span>
                 </ng-template>
                 &nbsp;{{requisito.texto}}
               </p>
             </div>
           </div>
         </div>
       </div>
     </div>
  </ng-template>
  <app-modal  [titulo]="'Retroalimentación del Juego'"  
            *ngIf="mostrarRetoAlimentacion"
            [hideClose]="false"
            [peticionError]="true">
  <div app-content>
    <p>{{retroalimentacion}}</p>
  </div> 
  <div app-footer>
    <app-ui-kaas-button class="w-full" 
                        [label]="'general.boton-continuar' | translate" 
                        [butonFull]="true" 
                        buttonSize="small"
                        (eventClick)="mostrarRetoAlimentacion = false">
    </app-ui-kaas-button>
  </div>
  </app-modal>
  <app-modal  [titulo]="'¡Fin del Juego!'"  
              *ngIf="mostrarFinilazion"
              [hideClose]="false"
              [peticionError]="true">
    <div app-content>
      <p>El juego ha llegado a su fin. ¡Gracias por jugar!</p>
    </div>
    <div app-footer>
      <app-ui-kaas-button class="w-full" 
                          [label]="'general.boton-continuar' | translate" 
                          [butonFull]="true" 
                          buttonSize="small"
                          (eventClick)="enviarPuntajeJuego()">
      </app-ui-kaas-button>
    </div> 
  </app-modal>
</div>
