@import "assets/styles/main";

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-button:not(:disabled) {
    color: #07115f!important;
}
p{
    margin-bottom: 0px !important;
}
