.border-box {
    box-sizing: border-box;
}

.text-titulos-size {
    font-size: 26px;
}

.text-subtitulos-size {
    font-size: 18px;
}

.text-subtitulos-2-size {
    font-size: 16px;
}

.text-subtitulos-3-size {
    font-size: 14px;
}

.text-subtitulos-4-size {
    font-size: 12px;
}

.tex-titulo-Serius-Game {
    font-size: 20px;
}